@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,100&family=Ephesis&display=swap');

html,body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 60px;
    background-color: #212529;
    display: flex;
    align-items: center;
    /* position: fixed  ; */
    position: sticky;
    top: 0;
    z-index: 2;
}

.hidden_nav{
    width: 100%;
    height: 40px;
    background-color: #212529;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    color: white;
}

.left_nav {
    width: 50%;
    margin-left: 10px;
    font-size: 23px;
    font-weight: bold;
    color: white;
}

.right_nav {
    width: 50%;
    height: 100%;
    font-size: 23px;
    font-weight: bold;
    display: flex;
    gap: 20px;
    justify-content: end;
    padding-right: 60px;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(176, 172, 172);
}

a:hover {
    color: white;
}

.home {
    width: 100%;
    padding-top: 6%;
    /* padding-bottom:7px ; */
    height: 100vh;
    background-color: rgb(233, 233, 233);
    /* background-size: cover;   */
    display: flex;
    align-items: center;


}

.home_left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.home_right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    font-weight: bolder;
    line-height: 0;
    font-size: 130%;
    margin-left: 10px;
    overflow: none ;
    
}

.home_image {
    width: 60%;
    border-radius: 10% 25%;

}


.services_container{
    width: 100%;
    height: 900px;
}
.margin_div{
    width: 100%;
    height: 60px;
    background-color: rgb(233, 233, 233);
}

.services_head{
    width: 100%;
    height: 10%;
    background-color: rgb(233, 233, 233);
    font-size: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services_body{
    width: 100%;
    height: 90%;
    background-color: rgb(233, 233, 233);
    display: flex;
    gap: 20px;
    padding:20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.services_card1{
    height: 85%;
    background-color: white;    
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    padding: 10px;
    border-radius: 30px;
    overflow: hidden;
    
}
.services_card2{
    height: 85%;
    background-color: white;    
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    padding: 10px;
    border-radius: 30px;
}
.services_card3{
    height: 85%;
    background-color: white;    
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    padding: 10px;
    border-radius: 30px;
}
.card1_img{
    height: 100%;
    width: 100% ;
    object-fit:     fill;
    padding: 10px;
    transition: all 500ms;
}
.card1_img:hover{
    transform: scale(1.1);
}
.image_div{
     height: 50%;
     width: 100%; 
     overflow: hidden;
}

span{
    color: red;
}
p{
    text-align: center;
}
h3{
    margin: 0;
}
.project_head{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(233, 233, 233) ;
}
.projects_body{
    width: 100%;
    height: 80vh ;
    background-color: rgb(233, 233, 233);
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.project_card{
    width: 25%;
    height: 75%;
    background-color: black;
    border-radius: 18px;
    border: black solid     4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project_card_div{
    width: 100%;
    height: 60%;
    background-color: antiquewhite;
    background-image: url(web-design.jpg);
    background-size: cover;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.project_card_text{
    color: rgb(141, 141, 141);
    font-size: 25px;
}

.project_card_pera{
    color: rgb(231, 231, 231);
    font-size: 23px;
}

.contact_head{
    color: rgb(1, 1, 1);
    font-size: 50px;
    font-weight: bold   ;
    text-align: center;
    background-color: rgb(233, 233, 233);
}
.contact_body{
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    width: 85%;
    height: 300px;
    font-size: 20px;
    font-weight: bold;
    border-spacing: 15px;
}

td{
    width: 50%;
}

input{
    width: 100%;
    height: 38px;
    font-size: 16px;
    border-radius: 5px;
    border: none;

    
}
textarea{
    width: 100%;
    height: 150px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
button{
    width:70%;
    height: 30px;
    font-size: 15px;
    background-color: #99a3b0;
    color: white    ;
    border: none;
}

input:focus{
    border: lightskyblue 4px solid;
    outline: none;
}
textarea:focus{
    border: lightskyblue 4px solid;
    outline: none;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #99a3b0;
    margin-top: 20px;
    text-align: center;
    box-sizing: border-box;
    line-height: 0;
    padding-top: 10px;
    
}

.footer_icon{
    width: 25px;
}

.footer_text{
    font-size: 20px;
}

section{
    transition: 0.2;
}

button:hover{
    background-color: #5a6169 ;
}

@media screen and (max-width:1024px){
    .hidden_nav{
        display: flex;
    }
    .left_nav {
        display: none;
    }
    .right_nav {
        width: 100%;
        height: 100%;
        font-size: 23px;
        font-weight: bold;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }
    
}


@media screen and (max-width:670px){
  
    .home{
        flex-direction: column;
    }
    .home_left {
        width: 100%;
        justify-content: center;
    }
    .home_right {
       width: 100%;
       align-items: center; 
    }
    

}